NODE_ENV=development
LOGGER_LEVEL=DEBUG
JSON_PAYLOAD_LIMIT=5mb
SERVER_URL=http://localhost:3001
CLIENT_URL=http://localhost:3000
SAML_LOGIN_URL=http://localhost:8888/simplesaml/saml2/idp/SSOService.php
SAML_LOGOUT_URL=http://localhost:8888/simplesaml/saml2/idp/SingleLogoutService.php
SAML_ENTITY_ID=CSB-DEV
SAML_IDP_CERT=
SAML_PUBLIC_KEY=publickey
JWT_PRIVATE_KEY=secret
JWT_PUBLIC_KEY=secret
CSB_ENROLLMENT_PERIOD=open
FORMIO_BASE_URL=
FORMIO_PROJECT_NAME=
FORMIO_FORM_NAME=
FORMIO_API_KEY=
BAP_CLIENT_ID=
BAP_CLIENT_SECRET=
BAP_URL=
BAP_USER=
BAP_PASSWORD=
BAP_TABLE=
S3_PUBLIC_BUCKET=
S3_PUBLIC_REGION=
