@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- EPA/USWDS --- */
.usa-menu-btn.button--dark {
  background-color: #1a4480;
}

.usa-site-alert .usa-alert {
  max-width: 1400px;
}

.usa-site-alert .usa-alert__body {
  display: block;
}

.usa-checkbox__label,
.usa-radio__label {
  text-indent: 0;
}

.usa-modal--lg .usa-modal__main {
  max-width: 48rem;
}

.usa-table--striped tbody tr:nth-child(odd) td,
.usa-table--striped tbody tr:nth-child(odd) th {
  color: inherit;
}

.csb-helpdesk-form-inputs .usa-radio__label {
  padding-left: 1.625rem;
}

.csb-helpdesk-form-inputs .usa-radio__label::before {
  width: 1rem;
  height: 1rem;
}

/* --- Formio --- */
.csb-form button[type="submit"] i {
  /* prevent formio loading icon from being displayed inside buttons */
  display: none;
}

/* --- Radix UI --- */
[data-radix-popper-content-wrapper] {
  transition-property: none;
  z-index: 10 !important;
}
